{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Tank{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="name">Length</label>
    <label for="name">Width</label>
    <label for="name">Depth</label>
    <label for="name">Length</label>
    {{ round((length * width) * depth / 1000000, 2) }}
    <!-- <textarea name="body" id="body">{{ request.form['body'] }}</textarea> -->
    <input type="submit" value="Save">
  </form>
{% endblock %}