{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
  <a class="action" href="{{ url_for('aquarium.create') }}">Create Tank</a>
{% endblock %}
{% block content %}
  {% if not g.user %}
  <h1>Sign in to see your tanks</h1>
  {% else %}
    {% for tank in tanks %}
      {% if g.user['id'] == tank['tank_owner'] %}
      <article class="post">
        <header>
          <div>
            <h1>{{ tank['name'] }}</h1>
            <div class="about">Volume: {{ (tank['length'] * tank['width']) * tank['depth'] / 1000000 }} litres</div>
          </div>
          <a class="action" href="{{ url_for('aquarium.update', id=tank['id']) }}">Edit</a>
        </header>
      </article>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
